<div class="bg-primary-green h-24 flex items-center justify-center p-4 fixed bottom-0 z-20 w-full">
  <%= link_to transactions_new_path do %>
    <% if addSessionVariable %>
      <% session[:is_transaction_triggered_from_detail] = "/group/:id/transactions", session[:group_id] = @group.id %>
    <% end %>

    <div class="border border-2 border-white w-full h-16 text-white flex items-center justify-center rounded-md px-16">
      <p>ADD TRANSACTION</p>
    </div>
  <% end %>
</div>