<div class="bg-primary-green h-24 flex items-center justify-center p-4 fixed bottom-0 z-20 w-full">
  <%= link_to group_new_path do %>
    <div class="border border-white w-full h-16 text-white flex items-center justify-center rounded-md px-16">
      <p>ADD NEW CATEGORY</p>
    </div>
  <% end %>
</div>