<%# <% if notice || alert %>
  <div class="pt-28">
    <div class="h-auto bg-red-400">
      <div class="my-5 text-center bg-blue-50 border border-blue-400 text-blue-800 p-2 rounded-md notice-card  mx-5">
        <p class="notice"><%= "notice" %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
  </div>
<%# <% end %>
